<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mprog.nl.studentenschoonmaakapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clean_logo"
        android:label="@string/appnaam"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity"
            android:label="Inloggen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.RegisterActivity"
            android:label="Registeren"/>
        <activity android:name=".login.PasswordRecoveryActivity"
            android:label="Herstel mijn wachtwoord"/>
        <activity
            android:name=".MyGroupsActivity"
            android:label="@string/mijn_groepen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RoomActivity"
            android:label="Kamers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeGroupActivity"
            android:label="Groep aanmaken"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myaccount.MyAccountActivity"
            android:label="Mijn Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaskActivity"
            android:label="@string/taken"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myaccount.EditMyAccountActivity"
            android:label="Wijzig persoonlijke gegevens"/>
    </application>

</manifest>